<h1>RailsBridgeCorp Open Jobs</h1>

<table id="jobs">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Contact</th>
      <th>Link</th>
    </tr>
  </thead>

  <tbody>
	<% @jobs.each do |job| %>
	  <tr>
		<td><%= job.title %></td>
		<td><%= job.description %></td>
		<td><%= job.contact %></td>
		<td><%= link_to 'Show Posting', job_path(job) %></td>
	  </tr>
	<% end %>
  </tbody>
</table>